{% extends "encyclopedia/layout.html" %}

{% block title %}
    New-entry
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      
      <form action="{% url 'wiki:new' %}" method="post">
        {% csrf_token %}
        <h1 class="mb-4">New Entry</h1>
        <label for="{{ form.title.id_for_lablel }}" class="form-label mb-0">Add a new title</label>
        {{ form.title }}
        <label for="{{ form.content_id_for_label }}" class="form-label mb-0">Add content</label>
        {{ form.content }}
        <button type="submit" class="btn btn-primary d-block mx-auto w-50">Save entry</button>
      </form>

      {% if error_msg %}
          <h4 class="text-danger mt-5">{{ error_msg }}</h4>
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}